{% extends "base.html.twig" %}

{% block title %}Show Product{% endblock %}

{% block body %}
        <h2>{{ product.name }}</h2>
        <p>Id: {{ product.id }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Category: {{ product.category.name }}</p>
{% endblock %}