<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ asset('lib/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Angular -->
    <script src="{{ asset('lib/js/angular.js') }}"></script>

    {% stylesheets 'bundles/acmeui/css/*' %}
        <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

    {% javascripts 'bundles/acmeui/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


</head>

<body>

<div id="wrapper">
    <div id="title"><h1>the Dog App</h1></div>
    <div id="sidebar" class="pull-left">
        {% block sidebar %}
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block body %}{% endblock %}
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('lib/js/jquery.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('lib/js/bootstrap.js') }}"></script>

</body>

</html>
